.containerStyle {
  border: 1px solid black;
  width: 600px;
  padding: 0;
}

.headerStyle {
  background-color: gray;
  border-bottom: 5px solid red;
  margin: 0px;
  padding: 5px;
}

.formStyle {
  padding: 15px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.scrollable {
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #4caf50;
  color: white;
  z-index: 1;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
